@import "../../../index.scss";

.skills {
  height: 100vh;
  background-color: $primary-background-color;
  padding-top: 100px;
}

.title {
  @include primary-font;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.skills-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
}

@media screen and (max-width: $mobile) {
  .skills-details {
    flex-direction: column;
  }
}
