@import "../../index.scss";

.navbar {
  border-bottom: 1px solid $border-color;
  width: 100vw;
}

.navbar-list {
  display: flex;
  justify-content: flex-end;
  margin: 20px 50px 10px 50px;

  & li {
    transition: transform 0.5s ease-in-out;
  }

  & li:hover {
    transform: scale(1.2);
  }
}

.icons {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.icon {
  color: $primary-color;
  height: 35px;
  padding: 3px;
  position: relative;
  top: 0px;
  width: 35px;
}

.active-link {
  @include primary-font;
  color: $accent-color;
  font-size: 20px;
  padding: 20px;
}

.inactive-link {
  @include primary-font;
  color: $primary-color;
  font-size: 20px;
  padding: 20px;
}
