@import "../../../index.scss";

.projects-section {
  background-color: $primary-background-color;
}

.title {
  @include primary-font;
  display: flex;
  justify-content: center;
  font-size: 40px;
  padding-top: 100px;
}
.projects {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
