@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Sometype+Mono:wght@500&display=swap");

body {
  margin: 0;
}

ul,
li,
a {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
  text-decoration: unset;
}

button:active {
  transform: translateY(10px);
}

$primary-background-color: rgba(237, 237, 237, 0.632);
$primary-color: #151515;
$accent-color: #871256;
$border-color: rgb(193, 192, 192);

$primary-font: "Sometype Mono", monospace;
$secondary-font: "Raleway", sans-serif;

$small-laptop: 1024px;
$tablet: 768px;
$mobile: 425px;

@mixin primary-font {
  font-family: "Sometype Mono", monospace;
  font-weight: 500;
}

@mixin secondary-font {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}
