@import "../../index.scss";

.contact-form {
  align-items: flex-start;
  background-color: #d5d4cf;
  display: flex;
  justify-content: center;
  min-height: 100vh;

  & img {
    height: 900px;
    width: 500px;
  }
}

.form {
  padding: 0 32px 0 0;
  width: 700px;

  & input,
  textarea {
    border-radius: 4px;
    border: 1px solid $border-color;
    box-sizing: border-box;
    display: inline-block;
    font-family: $secondary-font;
    font-size: 20px;
    margin: 50px 0 0 0;
    padding: 10px 12px;
    width: 100%;
  }
}

.form-legend {
  font-family: $secondary-font;
  font-size: 40px;
  margin-top: 100px;
}

button {
  background-color: #000;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-family: $secondary-font;
  margin-top: 50px;
  padding: 10px 0 10px 0;
  width: 100%;
}

.disabled {
  background-color: #bfc0c2;
  color: black;
  cursor: not-allowed;
}

.error-message {
  font-family: $primary-font;
  color: rgb(171, 4, 4);
}

@media screen and (min-width: $tablet) {
  .contact-form {
    img {
      height: 700px;
      width: 400px;
    }
  }

  .form {
    max-width: 600px;
  }

  .form-legend {
    margin-top: 80px;
  }
}

@media screen and (max-width: $mobile) {
  .contact-form {
    img {
      display: none;
    }
  }

  .form {
    padding-left: 32px;
  }
}
