@import "../../index.scss";

.contact-form {
  align-items: flex-start;
  background-color: $primary-background-color;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  padding: 100px;

  & img {
    width: 400px;
    padding-top: 150px;
    animation: flowers 8s ease-in-out infinite;
  }
}

.form {
  padding-top: 100px;
  & input,
  textarea {
    border-radius: 10px;
    border: 1px solid $border-color;
    box-sizing: border-box;
    display: block;
    font-family: $secondary-font;
    font-size: 20px;
    margin: 50px 0 0 0;
    padding: 10px 12px;
    width: 500px;
  }
}

.form-legend {
  font-family: $secondary-font;
  font-size: 40px;
}

button {
  background-color: #000;
  border-radius: 30px;
  border: none;
  color: #fff;
  font-family: $secondary-font;
  margin-top: 20px;
  padding: 10px 30px 10px 30px;
  float: right;
}

.disabled {
  background-color: #bfc0c2;
  color: black;
  cursor: not-allowed;
}

.error-message {
  font-family: $primary-font;
  color: rgb(171, 4, 4);
}

@keyframes flowers {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(10deg);
  }

  30% {
    transform: rotate(0deg);
  }
  60% {
    transform: rotate(-10deg);
  }

  80% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: $tablet) {
  .contact-form {
    & img {
      width: 280px;
    }
  }

  .form {
    & input,
    textarea {
      width: 300px;
    }
  }
}
@media screen and (max-width: $mobile) {
  .contact-form {
    & img {
      display: none;
    }
  }

  .form-legend {
    text-align: center;
  }
}
